@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  /* body {
    background-color: white !important;
  } */
}
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
